* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    border: none;
  }
  /* .color{
    color: #1cc7c1;
  } */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    color: white;
    padding: 8px 45px;
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
.button-style{
  background: rgb(24,210,176);
  background: linear-gradient(90deg, rgba(24,210,176,1) 19%, rgba(15,207,233,1) 59%);
}
.form-container{
  background-image: url('../../images/appointment-bg.png');
  background-size: cover;
  position: relative;
  z-index: 9;
  padding: 50px 0px;
  margin: 100px 0px;
}
.form-container::before{
  content: " ";
  display: block;
  background: #3A4256;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: -9;
}